@page "/PlayersByNationality/{NationalityId:int}"
@inherits PlayersByNationalityBase

@if(Players == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
      <h3><b>Players: (@NationalityName)</b></h3>
  @if(Players.Count()>0){
      <div class="row mt-3">
          <DisplayPlayer Players ="@Players"></DisplayPlayer>
      </div>
  }
}