@inherits PlayerNationalitiesNavMenuBase

@if(PlayerNationalityDtos == null && ErrorMessage == null)
{
    <DisplaySpinner/>
}
else if (ErrorMessage != null)
{
    <DisplayError ErrorMessage="@ErrorMessage"/>
}
else
{
    @foreach (var playerNationality in PlayerNationalityDtos)
    {
        var link = "/PlayersByNationality/" + playerNationality.Id;

                <div class = "nav-item">
                    <NavLink class="nav-link" href="@link">
                        <img src="@playerNationality.ImageURL" height="50">&nbsp;(@playerNationality.Name)
                    </NavLink>
                </div>
    }
} 