@implements IDisposable
@inject IScoutService scoutService

<a href="Scout" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Scout
    <span class="badge bg-dark">@scoutPlayersCount</span>
</a>

@code {
    private int scoutPlayersCount = 0;

    protected override void OnInitialized()
    {
        scoutService.OnScoutChanged += ScoutChanged;
    }

    protected void ScoutChanged(int totalQty)
    {
        scoutPlayersCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        scoutService.OnScoutChanged -= ScoutChanged;
    }

}