@implements IDisposable
@inject IUserService userService
@attribute [Authorize(Roles = "User")]

<AuthorizeView Roles="User">
    <Authorized>
        <a href="User" class="btn btn-info">
            <i class="fa-solid fa-user"></i>&nbsp;@context.User.Identity.Name
            <span class="badge bg-dark">Players: @userPlayersCount</span>
        </a>
    </Authorized>
    <NotAuthorized>
        <span>Register or login to see how many players are in your squad!</span>
    </NotAuthorized>
</AuthorizeView>



@code {
    private int userPlayersCount = 0;

    protected override void OnInitialized()
    {
        userService.OnUserChanged += UserChanged;
    }

    protected void UserChanged(int totalQty)
    {
        userPlayersCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        userService.OnUserChanged -= UserChanged;
    }

}